<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>XML to ΤΕΙLex0</title>
</head>
<body>
    <div class="site">
        <header class="site-header">
            <img src="{{ url_for('static', filename='su-logo.png') }}" alt="">
        </header>
        <main class="site-main">
            <form class=file-input method=post enctype=multipart/form-data>
            <input type=file name=file id=file>
            <label for=file>Choose a file</label>
            <input type=submit value=Upload>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <div class="instructions">
                <h3>Instructions:</h3>
                <ul class="instructions-list">
                    <li>
                        <p><span class="number">1.</span> Go to <a href="https://oxgarage.tei-c.org/">oxgarage.tei-c.org</a>.</p>
                    </li>
                    <li>
                        <p><span class="number">2.</span> Select "Convert from: Documents".</p>
                        <img src="{{ url_for('static', filename='instructions1-min.png') }}" alt="">
                    </li>
                    <li><p><span class="number">3.</span> Select .docx as your input format and "XML Document" as the output.</p>
                        <p class="warning"><i class="fas fa-exclamation-triangle"></i>.doc may also work but it's not recommended.</p>
                        <img src="{{ url_for('static', filename='instructions2-min.png') }}" alt="">
                    </li>
                    <li><p><span class="number">4.</span> Scroll to the top, upload your file and convert it.</p>
                        <img src="{{ url_for('static', filename='instructions3-min.png') }}" alt="">
                    </li>
                    <li><p><span class="number">5.</span> Upload the result here.</p></li>
                </ul>
            </div>
            
        </main>
        <footer class="site-footer"><a href="https://github.com/fiorin7/xml-to-teilex" target="_blank">Open source project</a></footer>
    </div>
    <script>
        inputElement = document.getElementById("file")
        inputElement.addEventListener("change", displayFileName);

        function displayFileName(e) {
            fileName = e.target.value
            if (fileName) {
                fileName = fileName.split("\\");
                extractedFileName = fileName[fileName.length-1]

                label = document.querySelector(".file-input label");
                label.textContent = extractedFileName;

            }
        }
    </script>
</body>
</html>

